@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{

    --fonte1: Verdana, Geneva, Tahoma, sans-serif; ;
    --fonte2: 'Passion One';
    --fonte3: 'Sriracha';

}




*{

    padding: 0px;
    margin: 0px;    
    font-size: 1em;

}


html,body{

    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);

}

header{

    text-align: center;

    background-color: black;
    color: white;

}

header h1{

    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;


}

header p{


    padding-bottom: 50px;


}


a{

    color: white;
    text-decoration: none;
    font-weight: bolder;



}

a:hover{

    text-decoration: underline;

}


section{

    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;

}

.normal{

    background-color: white;
    color: black;


}


.imagem{

    background-color: rgba(0, 0, 0, 0.753);
    color: white;

}

.imagem > p{

    display: inline-block;
    background-color: rgba(7, 0, 0, 0.267);



}


footer{

    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

}
